<% user = request %>
<div class="request" id="request_<%= user.id %>">
  <%= render :partial => 'users/user', locals: { user: user } %>
  <div class="requestForm">
    <%= button_to "Accept", accept_friend_path(user), method: :patch, params: { friendship: { user_id: user } }, remote: true, id: "acceptFriend", class: "btn-sml green" %>
    <%= button_to "Reject", reject_friend_path(user), method: :patch, params: { friendship: { user_id: user } }, remote: true, id: "rejectFriend", class: "btn-sml red" %>
  </div> 
</div>
