
<% if current_user %>
  <div class="one wide column"></div>

  <div class="four wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        by <%= expedition.creator.username %>
      <% end %>
    </div>
  </div>

  <div class="eleven wide column"></div>

  <div class="one wide column"></div>

  <div class="four wide column"></div>

  <div class="eleven wide column"></div>
<% else %>

  <div class="one wide column"></div>

  <div class="fourteen wide column">
    <div id="mostRecent">
      <% @most_recent.each do |expedition| %>
        by <%= expedition.creator.username %>
      <% end %>
    </div>
  </div>

  <div class="one wide column"></div>
<% end %>
