@import "colours";

.outerContainer {
  display: none;
  textarea {
    width: 90%;
    height: 100px;
    opacity: 0.5;

  }
}

.innerContainer {
  max-height: 800px;
  overflow-y:auto;
}

.message {
  width: 100%;
  .userInfo {
    display: inline-block;
    vertical-align: top;
  }
  .messageBody {
    display: inline-block;
    vertical-align: top;
    width: 90%;
  }
  .messageForm {
    width: 90%;
    textarea {
      width: 100%;
    }
  }
}

.toggleChat {
  cursor: pointer;
}

.submitNew {
  textarea {
    width: 100%;
  }
}

#boardName {
  margin-left: 0.75em;
}

.submitNewMessage {
  display: none;
}

#submitBtn {
  display: none;
}

.msgEditSubmit {
  float: right;
}

.msgEditSecret {
  display: none;
}

.hiddenMsgForm {
  display: none;
}

.notEditing .messageBody {
  display: inline-block;
}
.notEditing .messageForm {
  display: none;
}
.editing .messageBody {
  display: none;
}
.editing .messageForm {
  display: inline-block;
}
