
textarea {
  width: 95%;
  border: 1px solid grey;
}

.avatar {
  background-repeat: no-repeat;
  overflow: hidden;
}

.profile {
  height: 200px;
  width: 200px;
}

.thumb {
  height: 75px;
  width: 75px;
}

.friend {
  margin: 0.25em;
  display: inline-block;
}
