
textarea {
  width: 95%;
  border: 1px solid grey;
}

.avatar {
  background-repeat: no-repeat;
  overflow: hidden;
}

#profilePicture {
  cursor: pointer;
}

#submitAvatar {
  display: none;
}

.profile {
  height: 200px;
  width: 200px;
}

.thumb {
  height: 75px;
  width: 75px;
}

.main {
  margin-right: 1em;
}

.expedRight {
  display: inline-block;
}

.expedLeft {
  display: inline-block;
}
